.memory-game {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.link {
    position: fixed;
    top: 0;
    left: 0;
    color: #03e9f4;
    user-select: none;
    margin: 15px;
    transition: color .5s;
}
.link:hover {
    color: #d2bdff;
}